<?xml version="1.0"?>

<launch>
	<group>
		<!--robot platform-->
		<include file="$(find neo_base_mpo_500)/ros/launch/serrelay/neo_relayboard.launch"/>
		<include file="$(find neo_base_mpo_500)/ros/launch/platform_ctrl/platformCtrl.launch"/> 

		<!--sensors-->
		<include file="$(find neo_base_mpo_500)/ros/launch/sick/sick_s300.launch"/>	
		
		<!--scan unifier-->
		<include file="$(find neo_base_mpo_500)/ros/launch/sick/cob_scan_unifier.launch"/>		

		<!--teleoperator-->
		<include file="$(find neo_teleop)/ros/launch/teleop.launch">
		</include>

		<!-- robot model >
    		<param name="robot_description" command="$(find xacro)/xacro.py '$(find neo_robot_descriptions)/mpo_500/mpo_500.urdf.xacro'" />
		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
			<param name="publish_frequency" type="double" value="50.0" />
		</node-->

		<!--tf broadcaster -->
		<include file="$(find neo_base_mpo_500)/ros/launch/static_transform_pub/base_link_to_laserfront_tf_broadcaster.launch"/>
		<include file="$(find neo_base_mpo_500)/ros/launch/static_transform_pub/base_link_to_laserback_tf_broadcaster.launch"/>
	</group>
</launch>
